/* Set Transition Speeds */
.buttony{
	transition: .4s all ease-in-out;
}
.buttony span, .buttony:before{
	transition: .8s all ease-in-out;
}
.buttony:after{
	transition: .2s all ease-out;
}

/* buttony Font Declarations */
.buttony span,.buttony:after{
	font-family: 'lato', sans-serif;
	font-size: 15px;
}

/* Base buttony Styles */
.buttony{
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	margin: 50px auto 0;
	overflow: hidden;
	padding: 6px 10px;
	position: relative;
	z-index: 1;
}
.buttony span{
	color: #212121;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	z-index: 10;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.buttony:before{
	content: '';
	height: 100%;
	left: -7px;
	opacity: 0;
	position: absolute;
	top:0;
	transform: skewX(-25deg);
	width: 15px;
	z-index: -1;
}
.buttony:after{
	color: #fff;
	content: '>';
	display: inline-block;
	margin-left: -9px;
	opacity: 0;
	position: relative;
}

/* Hover Transitions */
.buttony:hover{
	color: #fff;
  /* Optional Box Shadow */
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}
.buttony:hover span{
	color: #fff;
}
.buttony:hover:before{
	width: 70%;
	opacity: 1;
}
.buttony:hover:after{
	opacity: 1;
	margin-left: 5px;
}

/* Active Transitions */
.buttony:active:before{
	width: 3000%;
}

/* Full Width Variant */
.buttony.fullWidth:hover:before{
	width: calc(100% + 15px);
	opacity: 1;
}

/* Blue Coloring */
.buttony{
  background:#00BCD4;
}
.buttony:before{
  background:#0097A7;
}
.buttony:hover{
  background:#00ACC1;
}
.buttony:hover:before{
  background:#00838F;
}

/* Orange Coloring */
.buttony.alternateColor1{
  background:#FF9800;
}
.buttony.alternateColor1:before{
  background:#F57C00;
}
.buttony.alternateColor1:hover{
  background:#FB8C00;
}
.buttony.alternateColor1:hover:before{
  background:#EF6C00;
}

/* Orange Coloring */
.buttony.alternateColor2{
  background:#BDBDBD;
}
.buttony.alternateColor2:before{
  background:#424242;
}
.buttony.alternateColor2:hover{
  background:#9E9E9E;
}
.buttony.alternateColor2:hover:before{
  background:#757575;
}
